@attribute [Route(UIRoutes.Administration.Brands.Index)]
@layout AdminLayout
@inherits IndexBase

<div class="page">
        <input type="button" value="Add New Brand"
            @onclick="()=>BrandAction.Create()"/>
    @if(Brands != null && Brands.Count > 0)
    {
    <ul style="margin:0px; padding-top:0px; padding-left:1em;">
        @foreach(var brand in Brands)
        {
            <li class="link noline"
                @onclick="()=>BrandAction.Update(brand)">
                @brand.Name
            </li>
        }
    </ul>
    }
    else if(Brands == null)
    {
        <Loading/>
    }
</div>

<BrandAction Context="item" @ref="BrandAction" OnRefresh="@LoadData">
    <InputText type="text" @bind-Value="@item.Name" placeholder="Name"/>
</BrandAction>
