@inherits LayoutComponentBase
@implements IDisposable
@inject AppSettings AppSettings
<main>
    <div class="admin-nav">
        <NavLink href="" Match=NavLinkMatch.All>Home</NavLink>&nbsp;
        <NavLink Match=NavLinkMatch.All href="@UIRoutes.Administration.Index">Administration</NavLink>&nbsp;
        <NavLink href="@UIRoutes.Administration.CarBrands.Index">Brands</NavLink>&nbsp;
        <NavLink href="@UIRoutes.Administration.CarRecords.Index">Records</NavLink>&nbsp;
        <NavLink href="@UIRoutes.Administration.CarRecordOrders.Index">Orders</NavLink>
    </div>
    <hr>
    @Body
</main>

@code{
    protected override void OnInitialized()
    {
        AppSettings.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        AppSettings.OnChange -= StateHasChanged;
    }
}
