@inherits LayoutComponentBase
@implements IDisposable
@inject AppSettings AppSettings
<main>
    <div class="admin-nav">
        <NavLink href="" Match=NavLinkMatch.All>Home</NavLink>
        <NavLink href="/administration/carbrands">Brands</NavLink>
        <NavLink href="/administration/carrecords">Records</NavLink>
    </div>
    <hr>
    @Body
</main>

@code{
    protected override void OnInitialized()
    {
        AppSettings.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        AppSettings.OnChange -= StateHasChanged;
    }
}
