@inherits LayoutComponentBase
@implements IDisposable
@inject AppSettings AppSettings
<main>
    <div class="admin-nav">
        <NavLink href="" Match=NavLinkMatch.All>Home</NavLink>&nbsp;
        <AuthorizeView>
        <Authorized>
        <NavLink href="@UIRoutes.Administration.Index">
            Administration
        </NavLink>&nbsp;
        </Authorized>
        </AuthorizeView>
        <NavLink href="@UIRoutes.Orders.Search">Search</NavLink>
    </div>
    <hr>
    @Body
</main>

@code{
    protected override void OnInitialized()
    {
        AppSettings.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        AppSettings.OnChange -= StateHasChanged;
    }
}
