@use '../basic/' as *;

.page{
    display: grid;
    gap: pg(400);
    padding: pg(200);

    .pag-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        span{
            min-width: 2.5em;
            display: grid;
            justify-content:center;
            cursor: pointer;
            &:hover:not(.selected){
                text-decoration: underline;
            }
        }
    }
}

.page-group{
    display: grid;
    gap: pg(200);
    position: sticky;
    top: 0;
    background: white;
    padding: pg(200);
}

.admin-nav{
    padding: pg(200);
    a{
        color: inherit;
        &:hover{
            color: clr(primary, link);
        }
        &.active{
            color: clr(primary, link);
        }
    }
}
