@attribute [Route(UIRoutes.Administration.CarBrands.Index)]
@layout AdminLayout
@inherits IndexBase

<div class="page">
        <input type="button" value="Add New Brand"
            @onclick="()=>BrandAction.Create()"/>
    @if(CarBrands != null && CarBrands.Count > 0)
    {
    <ul style="margin:0px; padding-top:0px; padding-left:1em;">
        @foreach(var box in BrandBoxes)
        {
            <li @key="box" class="link noline" @onclick="box.Action">
                @box.Brand?.Name
            </li>
        }
    </ul>
    }
    else if(CarBrands == null)
    {
        <Loading/>
    }
</div>

<BrandAction Context="item" @ref="BrandAction" OnRefresh="@LoadData">
    <InputText type="text" @bind-Value="@item.Name" placeholder="Name"/>
</BrandAction>
